/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Merriweather Font */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* universal property */
:root {
    --primary-color: #F00;
    --secondary-color: #070211;
    --third-color: #FFF;
}

* {
    font-family: "Inter", sans-serif;
}

/* header section */

header {
    margin: 50px 140px 0px 140px;
}

/* header section - one */
.header_section_one {
    border-radius: 16px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hso_text_one, #hso_text_two  {
    text-align: center;
    color: var(--third-color);
    font-family: Merriweather;
}
#hso_text_one { font-size: 32px; margin-bottom: 10px; }
#hso_text_two { margin-top: 5px; font-size: 72px; }

/* header section - two */
.header_section_two {
    margin: 120px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hst_txt_one, #hst_txt_two, #hst_txt_three {
    text-align: center;
}
#hst_txt_one { 
    color: var(--primary-color); 
    font-size: 88px; 
    font-weight: 700;
    margin-bottom: 50px;
}
#hst_txt_two { 
    color: var(--primary-color); 
    font-size: 24px; 
    font-weight: 500;
    margin-bottom: 15px;
}
#hst_txt_three { 
    color: var(--secondary-color); 
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 48px;
}

/* header section - three */
.header_section_three {
    margin: 120px 0px 120px 0px;
    height: 600px;
    border-radius: 16px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/images/Vectorrr.png);
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
}
.col_a {
    margin-left: 126px;
}
#hstr_txt_one, #hstr_btn {
    color: var(--third-color);
}
#hstr_txt_one { 
    font-family: Merriweather; 
    font-size: 64px; 
    font-weight: 900; 
    letter-spacing: 7.04px;
    margin-top: 126px;
    margin-bottom: 24px;
}
#hstr_txt_two { 
    color: rgba(255, 255, 255, 0.80); 
    font-size: 18px;
}
#hstr_btn {
    text-align: center; 
    font-size: 20px; 
    font-weight: 700;
    background: none;
    border: 0px;
    margin: 48px auto 142px 32px;
}
.col_b > img {
    margin: 68px 138px 68px 40px;
}

/* header section - four */
.header_section_four {
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hsf_txt, .hsf_red {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}
.hsf_red {color: var(--primary-color);}
.header_section_four > button {
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    padding: 16px 32px;
    border-radius: 8px;
    color: var(--third-color);
    background-color: var(--primary-color);
    margin-top: 64px;
    margin-bottom: 110px;
}